In [17]:
# importing libraries
import requests
from bs4 import BeautifulSoup

In [18]:
# specify url
url='https://www.imdb.com/chart/top/?ref_=nv_mv_250'

In [19]:
# Package the request, send the request and catch the response
page=requests.get(url)

In [16]:
# Extracts the response as html
html_doc=page.text

In [5]:
# Create a BeautifulSoup object from the HTML
soup=BeautifulSoup(html_doc,'lxml')

In [6]:
# Print the title 
soup.title.text

'IMDb Top 250 - IMDb'

In [8]:
# Locating class
content=soup.find(class_="lister-list")

In [9]:
# Extract data
rank=[]
title=[]
year=[]
link=[]
rating=[]


for tab in content.find_all('td',class_='titleColumn'):
        link.append('https://www.imdb.com' + tab.find('a').get('href'))
        
        title.append(tab.find('a').text)
        
        lst=[i for i in tab.text.split()]
        rank.append(lst[0].strip('.'))
        year.append(lst[-1].strip('()'))

for rate in content.find_all('td',class_='ratingColumn imdbRating'):
    rating.append(rate.strong.text)

In [10]:
# import pandas library
import pandas as pd

In [11]:
# creating dataframe
column=('rank','title','year','rating','link')
df=pd.DataFrame(list(zip(rank,title,year,rating,link)), columns=column)
df.head(10)

,rank,title,year,rating,link
0,1,The Shawshank Redemption,1994,9.2,https://www.imdb.com/title/tt0111161/
1,2,The Godfather,1972,9.1,https://www.imdb.com/title/tt0068646/
2,3,The Godfather: Part II,1974,9.0,https://www.imdb.com/title/tt0071562/
3,4,The Dark Knight,2008,9.0,https://www.imdb.com/title/tt0468569/
4,5,12 Angry Men,1957,8.9,https://www.imdb.com/title/tt0050083/
5,6,Schindler's List,1993,8.9,https://www.imdb.com/title/tt0108052/
6,7,The Lord of the Rings: The Return of the King,2003,8.9,https://www.imdb.com/title/tt0167260/
7,8,Pulp Fiction,1994,8.8,https://www.imdb.com/title/tt0110912/
8,9,"Il buono, il brutto, il cattivo",1966,8.8,https://www.imdb.com/title/tt0060196/
9,10,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,https://www.imdb.com/title/tt0120737/

In [21]:
#creating csv file
df.to_csv('imdb.csv',index=False, header=True)